{% load browse_tags %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='referrer' content='same-origin'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
        Duma
		</title>
		{% block style %}
			<link rel="shortcut icon" href="/static/favicon.ico" />
			<script src="/static/lib/jquery.min.js"></script>
			<script src="/static/js/common.js"></script>
			<link rel="stylesheet" href="/static/lib/bootstrap.min.css">
			<script src="/static/lib/bootstrap.min.js"></script>
<style>
        body { padding-top: 50px; }
    .section-btn { text-align: left; width: 100% ; margin: 5px 0px 5px 0px}
</style>
		{% endblock style %}
		{% block javascript %}
		{% endblock javascript %}
    </head>
    <body>
		<nav class="navbar
                navbar-default
                navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <img class="navbar-brand" src="/static/favicon.ico"/>
			  <span class="navbar-brand">
              <a href="{% url 'index' %}">
			  Duma
              </a>
			  </span>
			</div>
		    <div id="navbar" class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
                  <li><a href='/account/two_factor/'>Two-Factor Auth</a></li>
                  <li><a href='/logout/'>Logout</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
        <div class="container-fluid">
			{% if messages %}
			  {% for message in messages %}
			    <div class="alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message }}
				</div>
			  {% endfor %}
			{% endif %}
			<div class="row">
				<div class="col-xs-6">
					<h1>
						{% block headline %}
						{% endblock headline %}
					</h1>
					{% block header_left %}
					{% endblock header_left %}
				</div>
				<div class="col-xs-6">
					<div class="text-right">
						{{ user }}
						@ {{ now|date:"b d H:i:s"|capfirst }}
					</div>
					{% block header_right %}
					{% endblock header_right %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{% block body %}
					{% endblock body %}
				</div>
			</div>
			<span id='page_end_marker'> </span>
        </div>
        </div>
    </body>
</html>
