{% extends 'base.html' %}
{% load browse_tags %}

{% block headline %}
    Cross-WS Metric Compare
{% endblock headline %}
{% block javascript %}
    {% include "_plotly_load.html" %}
{% endblock javascript %}
{% block header_left %}
    <form method="post">
        {% csrf_token %}
        {{ scores_form.as_p }}
        <input type="submit" name='scoreplot_btn' value="Plot Scores"/>
        {{ metrics_form.as_p }}
        <input type="submit" name='metricplot_btn' value="Plot Metrics"/>
    </form>
{% endblock header_left %}
{% block body %}
	{% if point_count %}
	<br>
	{{ point_count }} scores plotted
	<br>
	{% endif %}
    {% if plotly_plots %}
        {% for plot in plotly_plots %}
            {% include "_plotly_div.html" with div_id=plot.0 src=plot.1 plot_form="" %}
            {% include "_plotly_clear.html" %}
        {% endfor %}
        {% include "_plotly_clear.html" %}
	{% endif %}
{% endblock body %}
