{% extends 'base.html' %}
{% load tissue %}

{% block headline %}
    {{ headline }}
{% endblock headline %}
{% block header_left %}
{{ subtitle }}
{% endblock header_left %}
{% block header_right %}
    <form class="form-inline text-right" action="" method="get">
		<input type="text" class="form-control" id="search" name="search"/>
		<button type="submit" class="btn btn-default">Search</button>
    </form>
{% endblock header_right %}
{% block body %}
    <table class="table">
        <tr>
            <th>Uniprot name</th>
            <th>Gene name</th>
            <th>Name</th>
        </tr>
    {% for prot in matches %}
        <tr>
            <td>
				<a href="{% url 'protein' ws.id prot.0 %}">{{ prot.0 }}</a>
            </td>
            <td>
				{{ prot.1 }}
            </td>
            <td>
				{{ prot.2 }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock body %}
