*/*.tsv
*/*.tsv.gz
*/*.sqlsv
*/*.sqlsv.gz
*/*.json.gz
*/*.tmp
*/*.log
*/versions.mk
*/statsfile.*
# All PDFs might be a bit aggressive, but currently none need to be checked in.
*/*.pdf
MDF/clin_ev.FAERS+MDF.*
MDF/*FromMDF*.txt
MDF/name_map_output.txt
aact/*_pipe-delimited-export.zip
aact/*.txt
arrayexpress_efo/efo_obo.pickle
bindingdb/filtering_bindingdb_history.pdf
cpdb/evidenceScoreMedian.txt
chembl/chembl_structural_alerts_list.txt
chembl/chembl_[2-9][0-9]_schema.py
cvarod/modified
d2ps/*.tsv.gz
disgenet/disGeNet_disease_names.txt
disgenet/geneids_without_uniprots.txt
drugbank/*.zip
duma_gwas/duma_gwas.tsv.gz
duma_gwas/duma_gwas.*.archivedata.zip
duma_gwas/ensembl-vep/
duma_gwas/failed_rss.txt
duma_gwas/for_vep.gz
duma_gwas/missing_failed_rss.txt
duma_gwas/raw_combined.gz
duma_gwas/rescue_vepd
duma_gwas/rescue_vepd_summary.html
duma_gwas/rescue_vepd_warnings.txt
duma_gwas/vepd.gz
duma_gwas/vepd.gz_summary.html
duma_gwas/vepd.gz_warnings.txt
duma_gwas/GCF_000001405.*.gz
duma_gwas_v2d/*.gz
duma_gwas_v2d/*.txt
duma_gwas_v2d/*.zip
duma_gwas_v2d/*.vcf
duma_gwas_v2g/*.gz
duma_gwas_v2g/*.txt
duma_gwas_v2g/*.html
duma_gwas_v2g/*.zip
duma_gwas_v2g/ensembl-vep_*
duma_gwas_v2g/otarg_var_index
duma_gwas_v2g/otarg_v2g_input.*
duma_gwas_v2g/otarg_v2g_snp_subset.*
efo/*.pickle
gwasCat/GWASCat.tsv.gz
faers/new_downloads
faers/urls/
faers/name_map_output.txt
faers/faers.v*.npz
faers/faers.v*.txt
faers/faers.v*.json
faers/casemap.*.pkl
finngen/filter_logs/*
gene_ontology/*.gaf.gz
gene_ontology/*.obo
gene_sets/outputs
grasp/GRASP2.tsv.gz
grasp/badmaf.txt
grasp/unmapped.txt
homologene/*.xml
lincs/*.npz
lincs/*.json
matching/work
matching/log
matching/stage_drugsets
matching/stage_dpi
matching/*.pdf
matching/check.v*
matching/*.partials_done
meddra/MedAscii_v*
nashBio/clin_ev.NashBio_dry_AMD.*
nashBio/*FromNashBio*.txt
nashBio/name_map_output.txt
nashBio/RAW_*.csv
nashBio/excluded_uuids
nashBio/*_only/
orthologs/*.txt.gz
pubchem/*.json
reactome/*.tgz
salmon/*.tgz
similarity/*.h5
similarity/*.json
string/*.tsv
string/*.sqlsv
string/*.ssv
surechembl/*.tsv.gz
unichem/*.txt.gz
unichem/*.tsv.gz
orange_book/*.txt
orange_book/*.csv
openTargets/opentargets_data.tsv.gz
ncats/20??
phewas/unmapped.txt
pubchem/*.cache.gz
