{% extends 'base.html' %}

{% block headline %}
    {{ tissue.name }}
{% endblock headline %}
{% block javascript %}
{% include "_plotly_load.html" %}
{% endblock javascript %}
{% block header_left %}
    <form method="post">
        {% csrf_token %}
		{{ options_form.as_p }}
        <input type="submit" name='display_btn' value="Redisplay"/>
        <input type="submit" name='save_btn' value="Save Thresholds"/>
        <input type="submit" name='reset_btn' value="Revert to Saved"/>
    </form>
{% endblock header_left %}
{% block header_right %}
<h3>Differential Protein Details</h3>
    <table>
        {% for item in stats %}
            <tr>
                <td><b>{{ item.0 }}:</b></td>
                <td>&nbsp;&nbsp;</td>
                <td>{{ item.1 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock header_right %}
{% block body %}
{% if plotly_plots %}
    {% for plot in plotly_plots %}
        {% include "_plotly_div.html" with div_id=plot.0 src=plot.1 %}
    {% endfor %}
    {% include "_plotly_clear.html" %}
{% endif %}
{% endblock body %}
