{% extends 'base.html' %}
{% block headline %}
	Tissue Set Correlation
{% endblock headline %}
{% block javascript %}
	{% include "_plotly_load.html" %}
{% endblock javascript %}

{% block header_left %}
    <form method="post">
		{% csrf_token %}
		{{ options_form.as_p }}
        <input type="submit" name='save_btn' value="Redisplay"/>
    </form>
{% endblock header_left %}

{% block header_right %}
{% endblock header_right %}
{% block body %}
	{% for plot in view.plotly %}
		{% include "_plotly_div.html" with div_id=plot.0 src=plot.1 %}
	{% endfor %}
    {% include "_plotly_clear.html" %}
	{% include "_table.html" with table=view.corr_table %}
{% endblock body %}
